<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header') %>
    <a href="/categories/add/genre">Add</a>
     <ul>
          Genres: <% genres.forEach(genre => { %>
          <li>
            <a href="/inventory?sort=&genre=<%= genre.name %>"><%= genre.name %></a>
          </li>
          <% }); %>
        </ul>
      <a href="/categories/add/developer">Add</a>
        <ul>
          Developers: <% developers.forEach(developer => { %>
          <li>
            <a href="/inventory?sort=&developer=<%= developer.name %>"><%= developer.name %></a>
          </li>
          <% }); %>
        </ul>
    <%- include('partials/footer') %>
</body>
</html>