<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title %></title>
</head>
<body>
    <%- include('partials/header') %>
    <form name="sortForm" action="/inventory" method="GET">
        <label>
            Sort:
        <select onchange="sortForm.submit()" name="sort">
            <option name="sort" selected>Relevance</option>
            <option name="sort" value="name_ASC">Name A-Z</option>
            <option name="sort" value="name_DESC">Name Z-A</option>
            <option name="sort" value="price_DESC">Price $$$-$</option>
            <option name="sort" value="price_ASC">Price $-$$$</option>
        </select>
        </label>
        <% if (queries.genre != undefined) { %>
            <input type="hidden">
        <% } %>
    </form> 
    <nav>
        <form action="/inventory" method="GET">
            <ul>
                Genres:
                <% genres.forEach(genre => { %>
                <li>
                    <label>
                        <% if (queries.genre != undefined && queries.genre.includes(genre.name)) { %>
                            <input type="checkbox" name="genre" id="<%= genre.name %>" value="<%= genre.name %>" checked>
                        <% } else { %>   
                            <input type="checkbox" name="genre" id="<%= genre.name %>" value="<%= genre.name %>">
                        <% } %>
                            <%= genre.name %>
                    </label>
                </li>
                <% }); %>
            </ul>
            <button type="submit">Submit</button>
        </form>
    </nav>
    <main>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <img src="#" rel="image of product">
                    <div>
                        <div><%= product.name %></div>
                        <div>$<%= product.price %></div>
                    </div>
                    <div><%= product.quantity %></div>
                    <div><%= product.developers %></div>
                    <div><%= product.genres %></div>
                </li>
            <% }); %>
        </ul>
    </main>
    <%- include('partials/footer') %>
</body>
</html>