<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/product_edit.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <form action="/product/new" method="POST" id="product_edit_form">
        <div id="primary_filter">
          <label for="title">
            Title:
            <input
              type="text"
              name="name"
              id="name"
              placeholder="ex. Skyrim"
              required
            />
          </label>
          <label for="price">
            Price:
            <input
              type="number"
              step="0.01"
              min="0"
              name="price"
              id="price"
              placeholder="ex. 69.99"
              required
            />
          </label>
          <label for="quantity">
            Quantity:
            <input
              type="number"
              step="1"
              min="0"
              name="quantity"
              placeholder="ex. 100"
              required
            />
          </label>
        </div>
        <label for="description" id="description_form">
          Description:
          <textarea
            style="text-align: left"
            cols="80"
            rows="1"
            type="text"
            minlength="1"
            maxlength="250"
            placeholder="ex. In the provence of Skyrim, land of the Nords, where the Dragonborn fights against dragons through the power of shouts"
            required
          ></textarea>
        </label>
        <label id="developer_form">
          Developers:
          <select name="developer">
            <% developers.map(developer => { %>
            <option
              name="developer_<%= developer.id%>"
              value="<%= developer.id %>"
            >
              <%= developer.name %>
            </option>
            <% });%>
          </select>
          <% for (let i=0; i <= 1; i++) { %>
          <select name="developer">
            <option name="developer_0" selected>-</option>
            <% developers.map(developer => { %>
            <option
              name="developer_<%= developer.id%>"
              value="<%= developer.id %>"
            >
              <%= developer.name %>
            </option>
            <% });%>
          </select>
          <% } %>
        </label>
        <label id="genre_form">
          Genres:
          <select name="genre">
            <% genres.map(genre => { %>
            <option name="genre_<%= genre.id%>" value="<%= genre.id %>">
              <%= genre.name %>
            </option>
            <% });%>
          </select>
          <% for (let i=0; i <= 1; i++) { %>
          <select name="genre">
            <option name="genre_0" selected>-</option>
            <% genres.map(genre => { %>
            <option name="genre_<%= genre.id%>" value="<%= genre.id %>">
              <%= genre.name %>
            </option>
            <% });%>
          </select>
          <% } %>
        </label>
        <button type="submit" id="add_form_new">Add</button>
      </form>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
