<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/product.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <a href="/inventory" id="return_to_inventory">< Return to Inventory</a>
      <div id="description_product">
        <div id="product_image_container">
          <img
            src="/img/<%= product.image %>"
            rel="image of <%= product.name %>"
          />
        </div>
        <div id="product_text">
          <div id="name_price_product">
            <h1><%= product.name %></h1>
            <h1>$<%= product.price %></h1>
          </div>
          <div id="dev_genre_quan_desc">
            <h4>Developers: <%= product.developers %></h4>
            <h4>Genres: <%= product.genres %></h4>
            <div><%= product.description %></div>
            <h4>Quantity: <%= product.quantity %></h4>
          </div>
        </div>
        <div id="product_links">
          <a href="/product/<%= product.name %>/edit" id="product_edit">Edit</a>
          <a href="/product/<%= product.name %>/delete" id="product_delete"
            >Delete</a
          >
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
